@model Diplom.ViewModels.GameViewModel
@{
    ViewData["Title"] = "AddGame";
    Layout = "_Layout";
}

<div style="padding: 20px;"></div>

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row justify-content-center">
                <div class="col-md-10" style="width:50%">
                    <span class="anchor"></span>
                    <div class="card card-account card-outline-secondary border border-white">
                        <div class="card-header">
                            <h3 class="mb-0 text-center ParagraphHome text-black">Добавить игру</h3>
                        </div>
                        <div class="card-body">
                            <form asp-controller="Admin" asp-action="UpdateGameToDb" asp-route-gameId="@Model.Id">
                                <div asp-validation-summary="All" style="font-size:23px; font-family:Impact" class="text-danger text-center"></div>
                                <div class="form-group" style="margin-top:10px">
                                    <input autocomplete="off" asp-for="Name" class="form-control textbox-dg font-weight-bold text-center" placeholder="Название игры" type="text">
                                </div>
                                <div class="form-group" style="margin-top:10px">
                                    <input autocomplete="off" asp-for="Price" class="form-control textbox-dg font-weight-bold text-center" placeholder="Цена" type="number">
                                </div>
                                <div class="form-group" style="margin-top:10px">
                                    <input autocomplete="off" asp-for="ImgSource" class="form-control textbox-dg font-weight-bold text-center" placeholder="Изображение" type="url">
                                </div>
                                <div class="form-group" style="margin-top:10px">
                                    <input autocomplete="off" asp-for="Date" class="form-control textbox-dg font-weight-bold text-center" placeholder="Дата выхода" type="date">
                                </div>
                                <div class="form-group" style="margin-top:10px">
                                    <input autocomplete="off" asp-for="Description" class="form-control textbox-dg font-weight-bold text-center" placeholder="Описание" type="text" style="height:150px">
                                </div>
                                <div class="d-grid gap-2 d-md-block" style="margin-top: 15px">
                                    <button class="btn btn-success" style="margin-left:40%">Изменить игру</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>