
@{
    ViewData["Title"] = "Reviews";
}

<div style="padding-top: 40px; padding-bottom:40px">
    <h1>Отзывы</h1>
</div>
<div>
    @for(int i=0;i<8;i++)
    {
        <div class="card">
            <div class="card-body">
                <div> 
                    <h5>Username</h5>
                </div>
                <div>
                    <p>Sometext</p>
                </div>
            </div>
    </div>
    }
</div>